* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: white;
    text-align: center;
    background-color: black;
    padding-bottom: 2px;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

main{
    display: grid;
    grid-template-rows: max-content;
    
}

a,
.login,
h3{
    text-transform: uppercase;
    color: white;
    text-decoration:none;
}

#containerstat {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size:10px;
    background-color: transparent;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    
      
}

#profileLeft{
    grid-column-start: 1;
}
#profileRight{
    grid-column-start: 2;
    width: 400px;
}

h2{
    text-align: center; 

}




